<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.student.hostel_application">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hostel_Application">
        <activity
            android:name=".Activitys.ContactHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activitys.PrivacyPolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activitys.ComplaintActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activitys.EntryOutResponseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.EntryOutFormActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.RestoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.DeletedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.AcountDeleteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            >
        </activity>
        <activity
            android:name=".Activitys.BlockActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.MyWerningActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCx-qAgxx1E2ltxP2zq-tVYKzedzDovhSc" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Login.Login_info"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NoticeBoardActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <service
            android:name=".Notification.FirebaseMessagingService"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>